<ion-header>
  <ion-toolbar>
    <ion-title>
      RAPS-Salus
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/raps.png"></ion-img>
      <ion-card-header>
        <ion-card-title>Bem vindo ao RAPS-salus</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>A aplicação visa fazer uma gestão inteligente e interativa através de um mapa da atenção primária à saúde.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Grupos Prioritários</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-icon src="assets/markercluster/icons/crianca.svg"></ion-icon>
        <ion-label>Crianças</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon src="assets/markercluster/icons/diabetico.svg"></ion-icon>
        <ion-label>Diabéticos</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon src="assets/markercluster/icons/gestante.svg"></ion-icon>
        <ion-label>Gestante</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon src="assets/markercluster/icons/hipertenso.svg"></ion-icon>
        <ion-label>Hipertenso</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
